.container {
  /* background-color: var(--grey-700); */
  width: 100%;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
  /* background-color: aqua; */
  justify-content: space-between;
}

.title {
  margin-left: 20px;
  /* background-color: var(--blue-400); */
}
.title h1 {
  color: var(--blue-600);
}

.buttons {
  margin-right: 20px;
}

.header button {
  background-color: var(--blue-600);
  color: var(--white);
  padding: 12px;
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.header button:hover {
  background-color: var(--white);
  color: var(--blue-600);
  border: 2px solid var(--blue-600);
  transition: 0.1s;
}

.table {
  margin: 20px;
  /* background-color: brown; */
}
